<ion-header>
  <ion-toolbar>
    <ion-title>krs</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> 
    <ion-card-title align=center>kartu rancangan studi</ion-card-title>
    <ion-card-content>
      <ion-row style="border-bottom: groove;">
      <ion-col col-4>
        <ion-label>No</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>Kode</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>Mata Kuliah</ion-label>
      </ion-col>
      <ion-col col-4>
        <ion-label>SKS</ion-label>
      </ion-col>
      </ion-row>
      <ion-row style="border-bottom: groove;">
        <ion-col col-4>
          <ion-label>1</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>IE30</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>English 1</ion-label>
        </ion-col>
        <ion-col col-4>
          <ion-label>3</ion-label>
        </ion-col>
        </ion-row>
          <ion-row style="border-bottom: groove;">
            <ion-col col-4>
              <ion-label>2</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label>IE31</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label>Mobile Platform</ion-label>
            </ion-col>
            <ion-col col-4>
              <ion-label>3</ion-label>
            </ion-col>
          </ion-row>
            <ion-row style="border-bottom: groove;">
              <ion-col col-4>
                <ion-label>3</ion-label>
              </ion-col>
              <ion-col col-4>
                <ion-label>IE32</ion-label>
              </ion-col>
              <ion-col col-4>
                <ion-label>Software Modeling And Analyst</ion-label>
              </ion-col>
              <ion-col col-4>
                <ion-label>2</ion-label>
              </ion-col>
            </ion-row>
              <ion-row style="border-bottom: groove;">
                <ion-col col-4>
                  <ion-label>4</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-label>IE33</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-label>Calculus</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-label>2</ion-label>
                </ion-col>
              </ion-row>
                <ion-row style="border-bottom: groove;">
                  <ion-col col-4>
                    <ion-label>5</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-label>IE34</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-label>Intelligence System  Fundamental</ion-label>
                  </ion-col>
                  <ion-col col-4>
                    <ion-label>2</ion-label>
                  </ion-col>
              </ion-row>
              <ion-row style="border-bottom: groove;">
                <ion-col col-4>
                  <ion-label>6</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-label>IE36</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-label>Web  Programming</ion-label>
                </ion-col>
                <ion-col col-4>
                  <ion-label>3</ion-label>
                </ion-col>
            </ion-row>
            <ion-row style="border-bottom: groove;">
              <ion-col col-4>
                <ion-label>7</ion-label>
              </ion-col>
              <ion-col col-4>
                <ion-label>IE37</ion-label>
              </ion-col>
              <ion-col col-4>
                <ion-label>Intelligence System Basic Search Strategies</ion-label>
              </ion-col>
              <ion-col col-4>
                <ion-label>3</ion-label>
              </ion-col>
          </ion-row>
    </ion-card-content>
  </ion-card>

</ion-content>
