<ion-header>
  <ion-toolbar>
    <ion-title>matkul</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>elearning UNBIN</ion-card-subtitle>
      <ion-card-title>List Mata Kuliah</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-card>
    <ion-item href="#">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Programming Web</ion-label>
    </ion-item>
  
    <ion-item href="#">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Platform Mobile</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Software Modelling</ion-label>
    </ion-item>

     <ion-item href="book-outline">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Inggris 1</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Kalkulus</ion-label>
    </ion-item>

    <ion-item href="#">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Intelligence System Fundamental</ion-label>
    </ion-item>
  
    <ion-item href="">
      <ion-icon name="book-outline" slot="start"></ion-icon>
      <ion-label>Intelligence System Basic Search</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
