<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="start">
       <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <img src='https://1.bp.blogspot.com/-U4e8WJfT2bA/X5JDmdap9II/AAAAAAAAJ2M/exHg8J1myNIIR_ebJFNgim68PwNADj2UwCLcBGAsYHQ/s0/Unbin.png'>
      <ion-card-title>Universitas Bina Niaga</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-item href="https://www.google.com/search?q=unbin&sxsrf=AOaemvI9BIXjVmUGXFRdbBjxi3RWrU5LIw:1634109274554&source=hp&ei=VodmYfrJBJS7tQbHs6aYBw&iflsig=ALs-wAMAAAAAYWaVZnapwt-4k8cbe5lrGuoCflYbeti0&ved=2ahUKEwjpn9W268bzAhUOjdgFHVJgCwoQvS56BAgyECE&uact=5&oq=unbin&gs_lcp=Cgdnd3Mtd2l6EAMyBAgjECcyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgUIABCABDIFCAAQgAQyBQgAEIAEMgsILhCABBDHARCvATIFCAAQgAQ6BwgjEOoCECc6CAgAEIAEELEDOgsIABCABBCxAxCDAToICC4QgAQQsQM6DgguEIAEELEDEMcBEKMCOgsILhCABBCxAxCDAToFCC4QgAQ6BwguEIAEEApQ4gdY6hRg7xloAnAAeACAAY4BiAHHBJIBAzQuMpgBAKABAbABCg&sclient=gws-wiz&tbs=lf:1,lf_ui:2&tbm=lcl&rflfq=1&num=10&rldimm=5440042150609697123&lqi=CgV1bmJpbkj-vb2QvIGAgAhaCxAAGAAiBXVuYmlukgEHY29sbGVnZQ&rlst=f#rlfi=hd:;si:,-6.558751464187894,106.78391049783932;mv:[[-6.545357240560502,106.80717061441646],[-6.588673146544965,106.72597478311764],null,[-6.567015664785204,106.76657269876705],14]">
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label> Jl. Sholeh Iskandar No.3, RT.04/RW.09, Kedungbadak, Kec. Tanah Sereal, Kota Bogor, Jawa Barat 16164</ion-label>
  
    </ion-item>
  
  
  </ion-card>
  
</ion-content>